body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: auto;
}

.owl {
    width: auto;
    height: 75px;
}

.header {
    display: flex;
    align-items:center;
    background-color: #445d80;
    color: aliceblue;
    
}

ul {
    list-style-type: none;  
}

.lefthead {
    display: flex;
    align-items: center;
}

.righthead {

}