body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1f2937;

}

img {
    width: 100px;
    height: auto;
}

p {
    color: #f9faf8;
}


/* Header */
.owl {
    width: auto;
    height: 75px;
    margin: 0 10px;
}

.navEvil {
    margin-left: 10px;
    font-size: 24px;
    color: #f9faf8;;
}

.header {
    display: flex;
    align-items:center;
    color: #f9faf8;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    
}

a:link {
    color: #f9faf8;
}

a:visited {
    color: #f9faf8;
}

a:hover {
    color: crimson;
}

ul {
    list-style-type: none;  
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px
}

.lefthead {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.righthead {
    margin-right: 50px;
}

/* Intro */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 25px;
    padding: 25px;
    gap: 24px;
}

.introleft {
    display: flex;
    flex-wrap: wrap;
}

.welcome {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.about {
    font-size: 18px;
    margin: 10px 0;
}

.flowers {
    width: 40%;
    min-width: 300px;
    height: auto;
    flex: 1 0 auto;
    margin: 0 40px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 5px 25px;
    border-radius: 15px;
    border: 0;
    font-weight: bolder;
}